.layout-detail {
    &-info {
        &-wrapper {
            height: 100%;
            display: flex;
            align-items: center;
        }
        padding-left: 1rem;
    }
}

.perspective {
    &-title {
        color: #000;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin: 1rem 0 1rem
    }
    &-item {
        position: relative;
        overflow: hidden;
        &-title {
            line-height: 1;
            margin-bottom: 0;
            font-weight: bold;
            font-size: .9rem;
        }
        &-price {
            color: #000;
        }
    }
}

.back-to-project {
    color: #000
}