.project-detail {
    &-properties {
        .property-name {
            color: rgba(34, 34, 34, .55);
        }
    }
    &-title {
        margin: 1rem 0 1rem;
    }
    &-budget {
        color: #555;
        font-size: 1.2rem;
        font-weight: 500;
        @media screen and (min-width: 768px) {
            font-size: 1.5rem;
        }
    }
}

.room-type {
    &-list {
        white-space: nowrap;
        overflow: auto;
        padding: 0;
        margin: 0;
        margin-right: -1rem;
        li {
            text-transform: uppercase;
            margin-right: 1rem;
            a {
                color: inherit;
                &.active {
                    color: #000;
                }
            }
        }
        &-wrapper {
            overflow: auto;
        }
        @media screen and (min-width: 768px) {
            margin-right: unset;
        }
    }
    &-item {
        overflow: hidden;
        position: relative;
        img {
            transition: all .3s;
            &:hover {
                transform: scale(1.1);
            }
        }
        &-label {
            position: absolute;
            background: rgba(34, 34, 34, .55);
            width: 80%;
            margin-top: -15px;
            bottom: 0;
            left: 0;
            padding-left: 15px;
            color: #fff;
        }
    }
}

.back-link {
    font-size: .9rem;
    color: rgba(34, 34, 34, .55);
    cursor: pointer;
    -webkit-transition: color .2s;
    transition: color .2s;
    font-weight: 500;
    i {
        transform: scale(.7);
    }
    &.top {
        color: #000;
        margin-bottom: 1rem;
    }
}